.qinput{width:80%;justify-content:center;border-radius:20%;}
.search{cursor:pointer;width:20%;
letter-spacing:4px;
}
.sser{
width:20%;justify-content:center;margin:5px;
}
.singleproduct{
display:block;
overflow:hidden;
}